body {
    font-family:'Roboto', sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.search-icon  {
    width: 500px;
}

.smart-phone {
    margin: 0;
    padding-left: 200px;
}

.shope-now {
    padding-bottom: 150px;
    padding-left: 20%;
}
.text {
    transform: rotate(50deg);
}
.img-info {
    width: 200px;
    padding-right: 50px;
}
.info {
    position: relative;
    top: 30px;
}

.category-img{
    padding-bottom:30px ;
}
.img-products{
    width: 100%;
}
.deal-info {
    padding-top: 100px;
    padding-left: 50px;
}






/*  start login and register  */
.login-now{
    border-radius: 20px;
    margin-top: 90px;
    width: 24% ;
    background-color: white;
    padding: 90px;
}

.loginnow-btn{
    width: 100%;
    border: none;
    border-radius: 50px;   
}
.register-now {
    border-radius: 20px;
    margin-top: 90px;
    width: 24% ;
    background-color: white;
    padding: 20px 90px 20px;
}




.form-select-light {
    display: block;
    width: 100%;
    background-color: #333333;
    height: 60px;
    padding: 6px 12px;
    font-size: 20px;
}




/* start team box  */


.team-boxed {
    color:#313437;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:100px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }



  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }


  .serch-position {
    position: relative;
    left: 260px;
    height: 47px;
  }

  .z-index {
    z-index: 1;
  }


.our-story {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  a {
    color: initial;
    &:hover {
      text-decoration: initial;
    }
  }
  .text-muted i {
    margin: 0 10px;
  }
}








/* / / / / / / / / Start-Media / / / / / / / */

@media screen and (max-width: 955px) {
    .search-icon {
        width: 300px;
    }
}




 @media only screen and (max-width:1907px){
    .register-now{
        width: 50% !important;
    }
 }
 @media only screen and (max-width:1907px){
    .login-now{
        width: 50% !important;
    }
 }
 @media only screen and (max-width:1000px){
    .register-now{
        width: 100% !important;
    }
 }
 @media only screen and (max-width:1000px){
    .login-now{
        width: 100% !important;
    }
 }

